@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--main-color: #d7dbe7;
		--secondary-color: #2e3157;
		--accent-color: #ffef91;
		--light-text-color: #c5cae1;
		--dark-text-color: #1f2141;
	}

	.cycling-images {
		height: 500px;
		padding: 1.5rem 0;
		background-color: #2e2e2e;
		filter: brightness(40%);
	}

	.left-image {
		transform-origin: right;
		transform: perspective(1000px) rotateY(-25deg) translateX(-2rem);
	}

	.right-image {
		transform-origin: left;
		transform: perspective(1000px) rotateY(25deg) translateX(2rem);
	}

	.hero-text {
		transform: translate(-50%, -120%);
		text-shadow: 0.25rem 0.25rem var(--dark-text-color);
	}

	html {
		font-family: 'Helvetica', 'Arial', sans-serif, system-ui;
		background-color: var(--main-color);
		color: var(--light-text-color);
	}

	#skip-nav {
		border-radius: 0rem 0rem 1rem 0rem;
		color: var(--secondary-color);
		background-color: var(--light-text-color);
	}

	.header-bg {
		background-color: var(--secondary-color);
	}

	#socials {
		z-index: 1;
		margin-top: 0;
		margin-bottom: 0.25rem;
	}

	.social-item-anchor {
		border: 0.25rem solid var(--secondary-color);
		border-radius: 2rem;
		background-color: var(--accent-color);
		transition: border-radius 200ms ease-in-out;
	}

	.social-item-anchor:hover, .social-item-anchor:focus {
		border-radius: 0.75rem;
	}

	.partial-bg {
		background: linear-gradient(#00000000 0%, #00000000 30%, var(--secondary-color) 30%, var(--secondary-color) 100%)
	}
}
