@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--main-color: #d7dbe7;
		--secondary-color: #2e3157;
		--accent-color: #ffef91;
		--light-text-color: #c5cae1;
		--dark-text-color: #0f172a;
	}

	html {
		font-family: 'Helvetica', 'Arial', sans-serif, system-ui;
	}

	.left-image {
		transform-origin: right;
		transform: perspective(1000px) rotateY(-25deg) translateX(-2rem);
	}

	.right-image {
		transform-origin: left;
		transform: perspective(1000px) rotateY(25deg) translateX(2rem);
	}

	.hero-text {
		transform: translate(-50%, -50%);
		text-shadow: 0.25rem 0.25rem var(--dark-text-color);
	}

	.under-construction {
		background: repeating-linear-gradient(45deg, var(--secondary-color) 2rem, var(--secondary-color) 4rem, var(--accent-color) 4rem, var(--accent-color) 6rem);
	}

	br {
		display: block;
 		margin: 0.5rem 0;
	}

	.social-item-anchor {
		border-radius: 2rem;
		transition: border-radius 200ms ease-in-out;
	}

	.partial-bg {
		background: linear-gradient(#00000000 0%, #00000000 30%, var(--secondary-color) 30%, var(--secondary-color) 100%)
	}
}
